.navbar {
    margin: 0px!important;
    padding: 1px;
    width:100%;
}
.admin_panel_header {
    margin-top:5px;
    display:flex;
    justify-content:space-around;
}
.link_desc {
    font-size:17px;
   
}
.link_desc_small {
    font-size:15px;
    margin:5px;
}
.nav_link {
    text-decoration: none;
    color:	#707070;
    margin-top:7px;

}
.nav_link:hover {
    text-decoration: none;
    color:#707070;
}
.selected {
    color:black;
}
.selected:hover {
    color:black;
}
*:focus {
    outline: none !important;
}
