.navbar {
    margin: 0px!important;
    padding: 1px;
    width:100%;
}
.card_item { 
    display: flex;
    justify-content: space-around;
    margin:15px 3px;
    border-bottom: 2px solid lightgrey;
}
.product_img {
    margin-right:5px;
    border-radius: 20%;
}
.cart_header {
    width:70%;
}
.admin_panel_header {
    margin-top:5px;
    display:flex;
    justify-content:space-around;
}
.admin_panel_header h4{
    margin-top:15px;
}

.action_header {
    text-align:center;
    margin-top:10px;
    font-weight: 600;
}

